doctype html
html(lang="en")
head
    title Stand Xpto
    meta(charset="utf-8")
    link(rel="stylesheet",href="/css/reset.css",type="text/css",media="screen")
    link(rel="stylesheet",href="/css/style.css",type="text/css",media="screen")
    link(rel="stylesheet",href="/css/grid.css",type="text/css",media="screen")
    script(src="/js/readme/jquery-1.7.1.min.js",type="text/javascript")
    script(src="/js/readme/fileUpload.js",type="text/javascript")
    <!--[if lt IE 9]>
        link(rel="stylesheet",href="/css/ie.css",type="text/css",media="screen")
    <![endif]-->
body(id="page1")
    div(class="main-bg")
        div(class="bg")
            header
                div(class="main")
                    div(class="wrapper")
                        h1
                            a(href="/") Stand Xpto
                    div(class="fright")
                        div(class="indent")
                            span(class="address") Avenida Dr. Francisco Sรก Carneiro, n.ยบ 50, 6300-559 Guarda
                                span(class="phone") Tel: +351 271 220 164
                    nav
                        ul(class="menu")
                            li
                                a(class="active" href="/") Home
                            li
                                a(href="/about") Sobre Nos
                            li
                                a(href="/veiculos/carro") Carros
                            li
                                a(href="/veiculos/mota") Motas
                            li
                                a(href="/stands") Stands
                            li
                                a(href="/logout") Logout
            section(id="content")
                div(class="main")
                        div(class="container-bot")
                            div(class="container-top")
                                div(class="container")
                                    div(class="wrapper")
                                        article(class="grid_8")
                                            div(class="indent-left")
                                                h2 Bem-Vindos ao Stand Xpto!
                                                div(class="prev-indent-bot")
                                                    div(style="margin-top:25px")
                                                        form(method="post",enctype="multipart/form-data",action='/veiculos/'+tipo)
                                                            label Marca:
                                                                input(type="text",placeholder="Marca",name="marca",style="margin-left:10px;")
                                                            br
                                                            label Modelo:
                                                                input(type="text",placeholder="Modelo",name="modelo",style="margin-left:4px")
                                                            br
                                                            label Tipo:
                                                                input(type="text",placeholder="Tipo",name="tipo",value=tipo,style="margin-left:22px")
                                                            br
                                                            label Preco:
                                                                input(type="text",name="preco",placeholder="Preco",style="margin-left:12px")
                                                            br
                                                            label Imagem:
                                                                input(multiple,accept=".jpg",type="file",name="imagem",class="btn btn-primary")
                                                            br
                                                            br
                                                            span
                                                                input(type="submit",class="button",style="border:none;margin-left:35px")
                                                            span &emsp;
                                                                input(type="reset",class="button",style="border:none")