doctype html
html(lang="en")
head
    title Stand Xpto
    meta(charset="utf-8")
    link(rel="stylesheet",href="/css/reset.css",type="text/css",media="screen")
    link(rel="stylesheet",href="/css/style.css",type="text/css",media="screen")
    link(rel="stylesheet",href="/css/grid.css",type="text/css",media="screen")
    script(src="/js/jquery-1.7.1.min.js",type="text/javascript")
    script(src="/js/cufon-yui.js",type="text/javascript")
    script(src="/js/cufon-replace.js",type="text/javascript")
    script(src="/js/Vegur_500.font.js",type="text/javascript")
    script(src="/js/FF-cash.js",type="text/javascript")
    script(src="/js/tms-0.3.js",type="text/javascript")
    script(src="/js/tms_presets.js",type="text/javascript")
    script(src="/js/jquery.easing.1.3.js",type="text/javascript")
    script(src="/js/jquery.equalheights.js",type="text/javascript")
    <!--[if lt IE 9]>
        script(type="text/javascript",src="/js/html5.js")
        link(rel="stylesheet",href="/css/ie.css",type="text/css",media="screen")
    <![endif]-->
body(id="page1")
    div(class="main-bg")
        div(class="bg")
            header
                div(class="main")
                    div(class="wrapper")
                        h1
                            a(href="/") Stand Xpto
                    div(class="fright")
                        div(class="indent")
                            span(class="address") Avenida Dr. Francisco Sá Carneiro, n.º 50, 6300-559 Guarda
                                span(class="phone") Tel: +351 271 220 164
                    nav
                        ul(class="menu")
                            li
                                a(class="active" href="/") Home
                            li
                                a(href="/about") Sobre Nos
                            li
                                a(href="/veiculos/carro") Carros
                            li
                                a(href="/veiculos/mota") Motas
                            li
                                a(href="/stands") Stands
                            li
                                a(href="/login") Login
                    div(class="slider-wrapper")
                        div(class="slider")
                            ul(class="items")
                                li
                                    img(src="/images/slider-img1.jpg",alt="",width="960px",height="400px")
                                li
                                    img(src="/images/slider-img2.jpg",alt="",width="960px",height="400px")
                                li
                                    img(src="/images/slider-img3.jpg",alt="",width="960px",height="400px")
                            a(class="prev",href="#") anterior
                            a(class="next" href="#") seguinte
            section(id="content")
                div(class="main")
                    div(class="container_12")
                        div(class="wrapper p5")
                            article(class="grid_4")
                                div(class="wrapper")
                                    figure(class="img-indent")
                                        img(src="/images/page1-img1.png",alt="")
                                    div(class="extra-wrap")
                                      h4 Performance
                                      p(class="p2") Os nossos veiculos foram desenvolvidos tendo em especial atenção a performance.
                                      a(class="button",href="#") Ler Mais
                            article(class="grid_4")
                                div(class="wrapper")
                                    figure(class="img-indent")
                                        img(src="/images/page1-img2.png",alt="")
                                    div(class="extra-wrap")
                                        h4 Qualidade
                                        p(class="p2") Os veiculos vendidos são da mais alta qualidade por essa razão não encontrara um stand para comprar.
                                        a(class="button",href="#") Ler Mais
                            article(class="grid_4")
                                div(class="wrapper")
                                    figure(class="img-indent")
                                        img(src="/images/page1-img3.png",alt="")
                                    div(class="extra-wrap")
                                        h4 Garantia
                                        p(class="p2") Os nossos veiculos tem oferta de 2 anos de garantia e manutenção.
                                        a(class="button",href="#") Ler Mais
                        div(class="container-bot")
                            div(class="container-top")
                                div(class="container")
                                    div(class="wrapper")
                                        article(class="grid_8")
                                            div(class="indent-left")
                                                h2 Bem-Vindos ao Stand Xpto!
                                                p(class="prev-indent-bot")
                                                    strong Stand Xpot
                                                    | é um site desenvolvido por Carlos Simão e Mario Costa. Este site está optimizado para uma resolução de 1280X1024.
                                            div(class="wrapper")
                                                div(class="grid_4 alpha")
                                                    div(class="indent-left")
                                                        div(class="indent-bot")
                                                            h3 Veiculos
                                                            p(class="prev-indent-bot") As nossas viaturas são da mais alta qualidade, sendo desenvolvidas por marcas de confiança especialmente para o nosso stand pois as nossas viaturas foram pensadas para pessoas amantes de corridas e velocidade.
                                                        a(class="button",href="#") Ler Mais
                                                div(class="grid_4 omega")
                                                    div(class="indent-left2")
                                                        div(class="maxheight indent-bot")
                                                            h3(class="p0") Garantia (2 anos):
                                                            ul(class="list-1")
                                                                li
                                                                    a(href="#") Problemas de condução
                                                                li
                                                                    a(href="#") Mudanças de oleo
                                                                li
                                                                    a(href="#") Serviços de ar condicionado
                                                                li
                                                                    a(href="#") Sistemas electricos
                                                        a(class="button",href="#") Ler Mais
                                        article(class="grid_4")
                                            div(class="indent-left2 indent-top")
                                                div(class="box p4")
                                                    div(class="padding")
                                                        div(class="wrapper")
                                                            figure(class="img-indent")
                                                                img(src="images/page1-img4.png",alt="")
                                                            div(class="extra-wrap")
                                                                h3(class="p0") Horario:
                                                        p(class="p1")
                                                            strong Reboque - 24 Horas
                                                        p(class="color-1 p0") Segunda - Sexta: 7:30 am - 6:00 pm
                                                        p(class="color-1 p1") Sabado: 7:30 am - 8:00 pm
                                                    figure(class="indent-bot")
                                                        iframe(width="260",height="202",src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed")
                                                    div(class="indent-left")
                                                        dl(class="main-address")
                                                            dt Avenida Dr. Francisco Sá Carneiro, 
                                                                br
                                                                | n.º 50, 6300-559 Guarda
                                                            dd
                                                                span Tel.:+351271220164;                         
                                                            br
                                                            dd
                                                                span FAX:+351271220164
                                                            br
                                                            dd
                                                                span Email:#[a(href="#") mail@ipg.pt]
    script(type="text/javascript") Cufon.now();
    script(type="text/javascript").
        $(window).load(function () {
            $('.slider')._TMS({
                duration: 1000,
                easing: 'easeOutQuint',
                preset: 'simpleFade',
                slideshow: 7000,
                banners: false,
                pauseOnHover: true,
                pagination: false,
                pagNums: false,
                nextBu: '.next',
                prevBu: '.prev'
            });
        });